# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
out/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz

### macOS ###
# General
.DS_Store
